<form action="/dogs/" method="post">
    <label for="newdog">Enter Dog name: </label>
    <input id="dog_name" type="text" name="name_field" value="Name of Dog.">
    <input type="submit" value="OK">
</form>
