<div class="container site-main">
  <div class="row">

    <div>
      <a href='/dogs' class="btn bth-lg btn-danger">See All Dogs</a>
    </div>
    <div class="col-sm-2 col-med-4 main-col1">
      First
    </div>

    <div class="col-sm-2 col-med-4 main-col2">
      Second
    </div>

    <div class="col-sm-2 col-med-4 main-col3">
      Third
    </div>

    <div class="col-sm-2 col-med-4 main-col4">
      Fourth
    </div>

    </div> <!--rown-->
  <div class="row">

    <div>
      <a href='/breeders' class="btn bth-lg btn-danger">See All Breeders</a>
    </div>
    <div class="col-sm-2 col-med-4 main-col1">
      First
    </div>

    <div class="col-sm-2 col-med-4 main-col2">
      Second
    </div>

    <div class="col-sm-2 col-med-4 main-col3">
      Third
    </div>

    <div class="col-sm-2 col-med-4 main-col4">
      Fourth
    </div>

    </div> <!--rown-->
  <div class="row">

    <div>
      <a href='/owners' class="btn bth-lg btn-danger">See All Owners</a>
    </div>
    <div class="col-sm-2 col-med-4 main-col1">
      First
    </div>

    <div class="col-sm-2 col-med-4 main-col2">
      Second
    </div>

    <div class="col-sm-2 col-med-4 main-col3">
      Third
    </div>

    <div class="col-sm-2 col-med-4 main-col4">
      Fourth
    </div>

    </div> <!--rown-->
</div>
