<!DOCTYPE html>
<html>
    <% include partials/head.ejs %>

  <body>
    <!-- header -->
    <%- include partials/header.ejs %>
  <!-- main -->
  <main class="site-main">
    <!-- body inject from the home page -->
    <%- body %>

  </main>

  </body>
  <%- include partials/footer.ejs %>
  <%- include partials/jsdefaults.ejs %>
</html>
