<div class="wrap jumbotron text-center">
  <h1>Doggify</h1>
  <a href='/dogs' class="btn bth-lg btn-danger">See All Dogs</a>

  <div class="home-main">

  <%- include ../partials/main.ejs %>
</div>
</div>
